html { 
  background: url(../img/desert_04.jpg);
  -webkit-background-size: center center fixed cover;
  -moz-background-size: center center fixed cover;
  -o-background-size: center center fixed cover;
  background-size: auto 749px; /* or cover */
  background-size: auto 749px;
}

body {
	margin: 0px;
	overflow: hidden;
}
/*
img {
	width: 128px;
	height: 128px;
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: 1;
}*/
